
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico"/>

    <title>Admin Panel</title>
</head>
<body>
    <h2>Добро пожаловать в панель администратора!</h2>

    <h3><a href="/training_cost">💵 Таблица стоимости тренировок</a></h3>

    <h3><a href="/training_schedule">📅 Расписание тренировок</a></h3>
    <h3><a href="/">🏠 Назад на главную</a></h3>


    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Выход из админки"/>
    </form>


</body>
</html>