<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico"/>
</head>
<body>
<h2>Расписание тренировок</h2>
<br>
<table>
    <tr>
        <th>Название</th>
        <th>Время</th>
        <th>Дни тренировки</th>
        <th>Опции</th>
    </tr>

    <tr th:each="training: ${allTraining}">


        <td th:utext="${training.name}">...</td>
        <td th:utext="${training.trainingTime}">...</td>
        <td th:utext="${training.trainingDays}">...</td>

        <td>

            <form th:action="@{/training_schedule/updateTraining}">
                <input type="hidden" th:name="TrainingId" th:value="${training.id}">
                <input type="submit" value="Upd">
            </form>


            <form th:action="@{/training_schedule/deleteTraining}">
                <input type="hidden" th:name="TrainingId" th:value="${training.id}">
                <input type="submit" value="Del">
            </form>


        </td>

    </tr>

</table>
<br>
<input type="button" value="Создать" onclick="window.location.href = 'training_schedule/addNewTraining'">
<br>
<br>
<input type="button" value="Назад в админку" onclick="window.location.href = 'admin'">
</body>
</html>