<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Кикбоксинг в Ижевске</title>
    <link rel="shortcut icon" type="image/ico" th:href="favicon.ico"/>
    <!-- Bootstrap CSS (Cloudflare CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css"
          integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- jQuery (Cloudflare CDN) -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Bootstrap Bundle JS (Cloudflare CDN) -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js"
            integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal"><img src="logo.png" class="rounded float-left" height="55">
    </h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#h1">Расписание</a>
        <a class="p-2 text-dark" href="#h2">Стоимость</a>
        <a class="p-2 text-dark" href="#h3">Зал</a>
<!--        <a class="p-2 text-dark" href="#h4">Тренер</a>-->
        <a class="p-2 text-dark" href="#h5">Контакты</a>
    </nav>
</div>

<main role="main" class="container">
    <h1 class="mt-5">Секция кикбоксинга в Ижевске</h1>
    <br>
    <p class="lead">Приглашаем Вас и ваших детей на тренировки по кикбоксингу!
        В нашем спортивном клубе есть все для успешных занятий кикбоксингом:
        <br>
        - опытный и титулованный тренер;
        <br>
        - огромный просторный зал;
        <br>
        - боксерский ринг;
        <br>
        - татами;
        <br>
        - весь необходимый инвентарь (подвесные мешки, шлема, перчатки, щитки, лапы, макивары, гантели, скакалки и т.д.)
    </p>
    <!--    <p class="lead">Кстати, <a href="https://vk.com/kickboxing_izhevsk">наша группа ВК</a> находится вот по этой ссылке, по всем-->
    <!--        вопросам можете обращаться туда :)</p>-->
</main>

<main role="main" class="container">
    <h1 class="mt-5" id="h1">Расписание</h1>
    <br>
    <div class="table-responsive-sm">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Время</th>
            <th scope="col">Понедельник</th>
            <th scope="col">Среда</th>
            <th scope="col">Пятница</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">17:30</th>
            <td>Кикбоксинг (от 6 лет)</td>
            <td>Кикбоксинг (от 6 лет)</td>
            <td>Кикбоксинг (от 6 лет)</td>
        </tr>
        <tr>
            <th scope="row">19:00</th>
            <td>К-1 (от 14 лет)</td>
            <td>К-1 (от 14 лет)</td>
            <td>К-1 (от 14 лет)</td>
        </tr>
        </tbody>
    </table>
    </div>
    <br>
    <p class="lead">Длительность занятия младшей группы составляет 1 час, взрослой - 1,5 часа.</p>

</main>

<main role="main" class="container">
    <h1 class="mt-5" id="h2">Стоимость</h1>
    <br>
    <div class="table-responsive-sm">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Группа</th>
            <th scope="col">Тип</th>
            <th scope="col">Стоимость</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Детская (17:30)</th>
            <td>Разовое</td>
            <td>200₽</td>
        </tr>
        <tr>
            <th scope="row">Детская (17:30)</th>
            <td>Абонемент (8 занятий)</td>
            <td>1500₽</td>
        </tr>
        <tr>
            <th scope="row">Детская (17:30)</th>
            <td>Абонемент (12 занятий)</td>
            <td>2000₽</td>
        </tr>
        <tr>
            <th scope="row">Взрослая (19:00)</th>
            <td>Разовое</td>
            <td>250₽</td>
        </tr>
        <tr>
            <th scope="row">Взрослая (19:00)</th>
            <td>Абонемент (8 занятий)</td>
            <td>2000₽</td>
        </tr>
        <tr>
            <th scope="row">Взрослая (19:00)</th>
            <td>Абонемент (12 занятий)</td>
            <td>2500₽</td>
        </tr>
        </tbody>
    </table>
    </div>
    <br>
    <p class="lead">Первое занятие бесплатно. Актуальные цены уточняйте у <a href="https://vk.com/aydarfx">администратора.</a>
    </p>

</main>

<main role="main" class="container">
    <h1 class="mt-5" id="h3">Зал</h1>
    <br>
    <img src="зал готовый.jpg" class="img-fluid" alt="Responsive image">
    <br>
    <br>
    <br>
    <br>
    <img src="взрослые.jpg" class="img-fluid" alt="Responsive image">
    <br>
    <br>
    <br>
    <br>
    <img src="дети.jpg" class="img-fluid" alt="Responsive image">



</main>

<!--<main role="main" class="container">-->
<!--    <h1 class="mt-5" id="h4">Тренер</h1>-->
<!--    <p class="lead"><a href="https://vk.com/ilgiz.sadrutdinov">Садрутдинов Ильгиз Инсафетдинович</a></p>-->
<!--</main>-->

<main role="main" class="container">
    <h1 class="mt-5" id="h5">Контакты</h1>
    <br>
    <p class="lead">Мы находимся по адресу: <a
            href="https://yandex.ru/maps/?um=constructor%3A19dc15f86cf3ded93c53d5a8d323e1245392a28e2191a192d299a183900ab6f1&source=constructorLink">
        г. Ижевск, ул. Авангардная, д.12.</a>
        <br>
        Вход находится с торца здания.</p>
    <p>
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A19dc15f86cf3ded93c53d5a8d323e1245392a28e2191a192d299a183900ab6f1&amp;source=constructor"
               height="500" width="100%" frameborder="0"></iframe>
    </p>

    <p class="lead">Группа ВК: <a href="https://vk.com/kickboxing_izhevsk">Кикбоксинг│Ижевск│К-1</a></p>
    <p class="lead">Администратор: <a href="https://vk.com/aydarfx">Айдар Садрутдинов</a></p>
    <p class="lead">Телефон для записи: <a href="tel:8-963-481-21-06">8-963-481-21-06</a></p>

</main>


</body>
</html>