<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Кикбоксинг в Ижевске</title>
    <!-- Bootstrap CSS (Cloudflare CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css"
          integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- jQuery (Cloudflare CDN) -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Bootstrap Bundle JS (Cloudflare CDN) -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js"
            integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal"><img src="logo.png" class="rounded float-left" height="55">
    </h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#h1">Расписание</a>
        <a class="p-2 text-dark" href="#h2">Стоимость</a>
        <a class="p-2 text-dark" href="#h3">Зал</a>
        <a class="p-2 text-dark" href="#h4">Тренер</a>
        <a class="p-2 text-dark" href="#h5">Контакты</a>
    </nav>
</div>

<main role="main" class="container">
    <h1 class="mt-5">Секция кикбоксинга в Ижевске</h1>
    <p class="lead">Когда-то здесь будет прям классный текст, как только я разберусь с тем, как прикрутить это "чудо" к
        домену. Когда-то здесь будет прям классный текст, как только я разберусь с тем, как прикрутить это "чудо" к
        домену. Когда-то здесь будет прям классный текст, как только я разберусь с тем, как прикрутить это "чудо" к
        домену</p>
    <p>Кстати, <a href="https://vk.com/kickboxing_izhevsk">наша группа ВК</a> находится вот по этой ссылке, по всем
        вопросам можете обращаться туда :)</p>
</main>

<main role="main" class="container">
    <h1 class="mt-5" id="h1">Расписание</h1>
    <p class="lead">Кайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более
        менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в
        домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст
        генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст
        более привлекательным и живым для визуально-слухового восприятия.</p>

</main>

<main role="main" class="container">
    <h1 class="mt-5" id="h2">Стоимость</h1>
    <p class="lead">айт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более
        менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в
        домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст
        генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст
        более привлекательным и живым для визуально-слухового восприятия.</p>

</main>

<main role="main" class="container">
    <h1 class="mt-5" id="h3">Зал</h1>
    <p class="lead">айт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более
        менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в
        домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст
        генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст
        более привлекательным и живым для визуально-слухового восприятия.</p>

</main>

<main role="main" class="container">
    <h1 class="mt-5" id="h4">Тренер</h1>
    <p class="lead">айт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более
        менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в
        домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст
        генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст
        более привлекательным и живым для визуально-слухового восприятия.</p>
</main>

<main role="main" class="container">
    <h1 class="mt-5" id="h5">Контакты</h1>
    <p class="lead">айт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более
        менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в
        домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст
        генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст
        более привлекательным и живым для визуально-слухового восприятия.</p>

</main>


</body>
</html>