<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico"/>
</head>
<body>

<h2>Информация о тренировке</h2>

<form th:method="POST" th:action="@{/training_cost/saveTrainingCost}" th:object="${trainingCost}">
    <div>

        <label hidden for="id">ID</label>
        <input hidden type="text" id="id" th:field="*{id}"/>

        <label for="description">Описание</label>
        <input required type="text" th:field="*{description}" id="description"/>
        <br>

        <label for="type">Тип</label>
        <select id="type" th:field="*{type}">
            <option value="" hidden>Выберете тип</option>
            <option th:each="type : ${T(com.sai.kickboxing_site.entities.cost_of_training.TrainingType).values()}"
                    th:value="${type}"
                    th:text="${type}"></option>
        </select>
        <br>

        <label for="price">Цена</label>
        <input required id="price" type="text" th:field="*{price}"/>
        <br>

        <input type="submit" value="OK">
    </div>
</form>
</body>
</html>